<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nota Lunas/Invoice</title>
    {{> style}}
</head>

<body>
    {{> kop}}

    <h3 class="font-bold heading">INVOICE</h3>

    <div class="flex gap-4 justify-end mb-4 items-top">
        <table>
            <tr>
                <td style="width: 8rem">Tanggal</td>
                <td style="font-weight: bold">{{ detail_inv.tanggal }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">No. Invoice</td>
                <td style="font-weight: bold">{{ detail_inv.no_invoice }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">Front Office</td>
                <td style="font-weight: bold">{{ detail_inv.nama_fo }}</td>
            </tr>
        </table>
    </div>
    <div class="mb-4">
        <table>
            <tr>
                <td style="width: 8rem">ID Booking</td>
                <td style="font-weight: bold">{{ detail_tt.id_booking }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">Nama</td>
                <td style="font-weight: bold">{{ detail_tt.nama_customer }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">Alamat</td>
                <td style="font-weight: bold">{{ detail_tt.alamat_customer }}</td>
            </tr>
        </table>
    </div>

    <h3 class="font-bold heading">DETAIL</h3>
    <div class="mb-4">
        <table>
            <tr>
                <td style="width: 8rem">Check In</td>
                <td style="font-weight: bold">{{ detail_pemesanan.check_in }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">Check Out</td>
                <td style="font-weight: bold">{{ detail_pemesanan.check_out }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">Dewasa</td>
                <td style="font-weight: bold">{{ detail_pemesanan.jumlah_dewasa }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">Anak-anak</td>
                <td style="font-weight: bold">{{ detail_pemesanan.jumlah_anak }}</td>
            </tr>
        </table>
    </div>

    <h3 class="font-bold heading">KAMAR</h3>
    <table class="table-bordered mb-4">
        <thead>
            <tr>
                <th style="width: 40%">Jenis Kamar</th>
                <th style="width: 10%">Bed</th>
                <th style="width: 7.5%">Jumlah Malam</th>
                <th style="width: 7.5">Jumlah Kamar</th>
                <th style="width: 15%">Harga</th>
                <th style="width: 20%">Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each kamar}}
            <tr>
                <td>{{ jenis_kamar }}</td>
                <td>{{ jenis_bed }}</td>
                <td class="text-center">{{ jumlah_malam }}</td>
                <td class="text-center">{{ jumlah_kamar }}</td>
                <td class="text-end">{{ harga }}</td>
                <td class="text-end">{{ total }}</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5" class="text-end">Total</th>
                <th class="text-end">{{ detail_tt.total_harga_kamar }}</th>
            </tr>
        </tfoot>
    </table>

    {{#if layanan }}
    <h3 class="font-bold heading">LAYANAN</h3>
    <table class="table-bordered mb-4">
        <thead>
            <tr>
                <th style="width: 30%">Layanan</th>
                <th style="width: 25%">Tanggal</th>
                <th style="width: 10%">Jumlah</th>
                <th style="width: 15%">Harga</th>
                <th style="width: 20%">Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each layanan}}
            <tr>
                <td>{{ nama }}</td>
                <td>{{ tanggal }}</td>
                <td class="text-center">{{ jumlah }}</td>
                <td class="text-end">{{ harga }}</td>
                <td class="text-end">{{ total }}</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4" class="text-end">Pajak</th>
                <th class="text-end">{{ detail_inv.pajak_layanan }}</th>
            </tr>
            <tr>
                <th colspan="4" class="text-end">Total</th>
                <th class="text-end">{{ detail_inv.total_layanan }}</th>
            </tr>
        </tfoot>
    </table>
    {{/if}}

    <div class="flex items-center break-inside-avoid">
        <div class="flex flex-1 items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Rickrolling_QR_code.png" class="w-20 h-20 me-2" />
            <div>
                <p class="font-bold">Terima kasih atas kunjungan Anda</p>
                <p class="mb-1">Semoga Anda senang dan nyaman selama menginap.</p>
                <p><small>Kritik dan Saran dapat Anda sampaikan melalui QR di samping.</small></p>
            </div>
        </div>
        <table class="w-fit">
            <tr>
                <td style="font-weight: bold; width: 9rem">TOTAL</td>
                <td style="font-weight: bold">{{ detail_inv.grand_total }}</td>
            </tr>
            <tr>
                <td style="width: 9rem">Jaminan</td>
                <td style="font-weight: bold">{{ detail_tt.uang_jaminan }}</td>
            </tr>
            <tr>
                <td style="width: 9rem">Deposit</td>
                <td style="font-weight: bold">{{ detail_tt.deposit }}</td>
            </tr>
            {{#if kembalian }}
            <tr>
                <td style="font-weight: bold; width: 9rem">Dikembalikan</td>
                <td style="font-weight: bold">{{ kembalian }}</td>
            </tr>
            {{/if}}
            {{#if kekurangan }}
            <tr>
                <td style="font-weight: bold; width: 9rem">Cash</td>
                <td style="font-weight: bold">{{ kekurangan }}</td>
            </tr>
            {{/if}}
        </table>
    </div>
</body>

</html>