<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Tanda Terima</title>
    {{> style}}
</head>

<body>
    {{> kop}}

    <h3 class="font-bold heading">TANDA TERIMA PEMESANAN</h3>

    <div class="flex gap-4 justify-between mb-4 items-top">
        <table>
            <tr>
                <td style="width: 8rem">ID Booking</td>
                <td class="font-bold">{{ detail_tt.id_booking }}</td>
            </tr>
            {{#if detail_tt.pic_sm }}
            <tr>
                <td style="width: 8rem">PIC SM</td>
                <td class="font-bold">{{ detail_tt.pic_sm }}</td>
            </tr>
            {{/if}}
        </table>
        <table>
            <tr>
                <td style="width: 8rem">Tanggal</td>
                <td class="font-bold">{{ detail_tt.tanggal_dibuat }}</td>
            </tr>
        </table>
    </div>
    <div class="mb-4">
        <table>
            <tr>
                <td style="width: 8rem">Nama</td>
                <td class="font-bold">{{ detail_tt.nama_customer }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">Alamat</td>
                <td class="font-bold">{{ detail_tt.alamat_customer }}</td>
            </tr>
        </table>
    </div>

    <h3 class="font-bold heading">DETAIL PEMESANAN</h3>
    <div class="mb-4">
        <table>
            <tr>
                <td style="width: 8rem">Check In</td>
                <td class="font-bold">{{ detail_pemesanan.check_in }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">Check Out</td>
                <td class="font-bold">{{ detail_pemesanan.check_out }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">Dewasa</td>
                <td class="font-bold">{{ detail_pemesanan.jumlah_dewasa }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">Anak-anak</td>
                <td class="font-bold">{{ detail_pemesanan.jumlah_anak }}</td>
            </tr>
            <tr>
                <td style="width: 8rem">Tgl. Pembayaran</td>
                <td class="font-bold">{{ detail_pemesanan.tanggal_dp }}</td>
            </tr>
        </table>
    </div>

    <h3 class="font-bold heading">KAMAR</h3>
    <table class="table-bordered mb-4">
        <thead>
            <tr>
                <th style="width: 40%">Jenis Kamar</th>
                <th style="width: 10%">Jumlah Malam</th>
                <th style="width: 10%">Jumlah Kamar</th>
                <th style="width: 20%">Harga</th>
                <th style="width: 20%">Total</th>
            </tr>
        </thead>
        <tbody>
            {{#each kamar}}
            <tr>
                <td>{{ jenis_kamar }}</td>
                <td class="text-center">{{ jumlah_malam }}</td>
                <td class="text-center">{{ jumlah_kamar }}</td>
                <td class="text-end">{{ harga }}</td>
                <td class="text-end">{{ total }}</td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4" class="text-end">Total</th>
                <th class="text-end">{{ detail_tt.total_harga_kamar }}</th>
            </tr>
            {{#if detail_tt.pic_sm }}
            <tr>
                <td colspan="4" class="text-end">Uang Jaminan</td>
                <td class="text-end">{{ detail_tt.uang_jaminan }}</td>
            </tr>
            {{/if}}
    </table>

    <div>
        <p style="margin-bottom: .5rem;">Permintaan tambahan:</p>
        <p style="white-space: pre-wrap;">{{ detail_tt.permintaan_tambahan }}</p>
    </div>

</body>

</html>